<div class="header-container">
  <h1>Menu</h1>
  <app-drinks></app-drinks>
  <app-pastries></app-pastries>

</div>

<div class="pic-container" fxLayout="row" fxLayout.fxFlex.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex="20%">
      <h2>Blueberry Muffin $2.50</h2>
      <img mat-card-image class="img" src="../../assets/images/blue-muffin.jpeg">
      <button type="button" class="btn btn-primary" routerLink="/checkout">Add To Order</button>
    </div>
    <div fxFlex="20%">
      <h2>Doughnut $2</h2>
      <img mat-card-image class="img" src="../../assets/images/doughnut.jpeg">
      <button type="button" class="btn btn-primary" routerLink="/checkout">Add To Order</button>
    </div>
    <div fxFlex="20%">
      <h2>Croissant $3</h2>
      <img mat-card-image class="img" src="../../assets/images/croissant.jpeg">
      <button type="button" class="btn btn-primary" routerLink="/checkout">Add To Order</button>
    </div>
</div>
<div class="container" fxLayout="row" fxLayout.fxFlex.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex="40%">
      <h2>Hot Tea $1.50</h2>
      <img mat-card-image class="img" src="../../assets/images/hot-tea.jpeg">
      <button type="button" class="btn btn-primary" routerLink="/checkout">Add To Order</button>
    </div>
    <div fxFlex="20%">
      <h2>Cappuccino $2.50</h2>
      <img mat-card-image class="img" src="../../assets/images/cappuccino.jpeg">
      <button type="button" class="btn btn-primary" routerLink="/checkout">Add To Order</button>
    </div>
    <div fxFlex="40%">
      <h2>Hot Chocholate $2.00</h2>
      <img mat-card-image class="img" src="../../assets/images/hot-chocolate.jpeg">
      <button type="button" class="btn btn-primary" routerLink="/checkout">Add To Order</button>
    </div>
</div>

<app-footer></app-footer>
<!--
<div class="menu-container">
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <img class="bd-placeholder-img card-img-top" width="100%" src="../../assets/images/coffee-pic.jpg">
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
          </div>
          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
  </div> -->
