<!-- HEADER -->
<app-nav></app-nav>
<div class="container">
  <div class="row">
      <div class="col">
       <app-header></app-header>
      </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <app-footer></app-footer>
    </div>
  </div>
</div>


<!--
<div id="header">
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" routerLink="/menu">Order Here!</a>
    <a class="nav-item nav-link" routerLink="/signup">Signup</a>
    <a class="nav-item nav-link" routerLink="/checkout">Checkout</a>
  </div>
</nav>



</div> -->
<router-outlet></router-outlet>
