<!-- HEADER -->
<div id="header">
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" routerLink="/menu">Order Here!</a>
    <a class="nav-item nav-link" routerLink="/signup">Signup</a>
    <a class="nav-item nav-link" routerLink="/checkout">Checkout</a>
  </div>
</nav>


<span>Welcome to {{ title }}</span>


<h2>Cafe Your Way!</h2>
<p>"Relax and have cafe your way"</p>
<img width="300" alt="coffee picture" src="../assets/images/coffee-pic.jpg">

</div>
<router-outlet></router-outlet>
